 .variant-row {
  display: flex;
  gap: 6px;
  width: 100%;
  flex-wrap: wrap; 
  align-items: center;
}

.variant-row::-webkit-scrollbar {
  display: none;
}
.variant-chip {
  flex: 1 1 0;
  min-width: 58px;
  max-width: 65px;
  height: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  padding: 1px 4px;

  border: 0.5px solid #d9d9d9;
  border-radius: 2px;
  background: #fff;

  cursor: pointer;
  transition: all 0.2s ease;

  overflow: hidden;
}

.variant-chip--active {
  background: #1df0bb0a;
  border: 0.5px solid #0aa288;
}

.variant-chip__image {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  object-fit: contain;
  flex-shrink: 0;
}

.variant-chip__swatch {
  display: none;
}

.variant-chip__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #444;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}