/*--------------*/
.review-line__thumb {
  width: 42px;
  height: 42px;
  background: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.review-line--plan .review-line__thumb {
  background: transparent; 
  border-radius: 0;
  width: 30px;             
  height: 30px;
  padding: 0;
}

.review-line--plan .review-line__thumb img,
.review-line--plan .review-line__thumb svg {
  width: 26px;       
  height: 26px;
  object-fit: contain;
}

.review-line--extra .review-line__thumb {
  background: #ffffff;      
  border-radius: 10px;    
  width: 42px;
  height: 42px;
  padding: 6px;
  box-sizing: border-box;
}

.review-line--extra .review-line__thumb img,
.review-line--extra .review-line__thumb svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.review-line__thumb img{
  width: 34px;
  height: 34px;
  object-fit: contain;
}
.review-line__icon {
  width: 24px;
  height: 24px;
  background-color: transparent;
}
.review-line__name {
  font-size: 13px;

  font-weight: 600;

  color: #232323;

  line-height: 1.2;
}
.review-line__price {
  display: flex;

  flex-direction: column;

  align-items: flex-end;

  min-width: 58px;
}
.review-line__name {
  font-size: 13px;
  font-weight: 600;
  color: #232323;
}

.review-line__name--highlight {
  color: #4e2fd2;
  font-weight: 700;
}
.review-line__price .price--compare {
  font-size: 12px;
  color: #8f9095;
  text-decoration: line-through;
}

.review-line__price .price--active {
  font-size: 14px;

  font-weight: 700;

  color: #5142f5;
}
